.pokeCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: .5em;
    padding-inline: 3.8em;
    text-decoration: none;
}

.pokeCard p {
    color: black;
    padding-bottom: .2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap;
}

.pokeCard p::first-letter {
    text-transform: uppercase;
}

/* Style the page number thing */