*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    padding-top: 2.3rem;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: red;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    top: 0;
    width: 100%;
    font-size: 1.7rem;
    z-index: 999;
}


.pokeLink{
    color: black;
    background-color: lightgray;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    padding-inline: .3em;
    padding-top: .17em;
    padding-bottom: .10em;
    font-size: .9em;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

header div {
    display:inline;
    position: relative;    
}

header p {
    display: inline-block;
    color: black;
    background-color: lightgray;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
    padding: .2em;
    padding-inline: .3em;
    font-size: .8em;
    font-family: Arial, sans-serif;
}

.navSortBut {
    border-style: none;
    background-color: lightgray;
    border-inline-style: solid;
    border-inline-width: 2px;
    padding: .3em;
    padding-top: .4em;
    padding-inline: .7em;
    margin-right: -.1em;
    font-size: .7em;
    cursor: pointer;
}

header a.active button {
    background-color: rgb(187, 188, 209);
}

/*main*/
main {
    padding: .5rem
}

.wrapper-main {
    display: grid;
    grid-template-columns: 1fr minmax(135px, 540px) 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 20px;
}

.cards {
    grid-area: 1/2/1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-template-rows: repeat(auto-fit, 121px);
    grid-gap: .7em .8em;
    justify-content: center;
}

.pageNav {
    grid-area: 2/2/2/2;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#backBut, #nextBut {
    font-size: 1.5em;
    cursor: pointer;
}

.pageNav p {
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-align: center;
}

#currentPageNum {
    border: none;
    font-size: 1em;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    width: max-content;
}

/* #currentPageNum  */

/*footer*/
footer {
    position: fixed;
    background-color: red;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    bottom: 0px;
    width: 100%;
}

footer p {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 202);
}

/*misc*/
.activeRegBut {
    background-color: gray;
    color: white;
}

.activeGenBut {
    background-color: gray;
    color: white;
}