*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
    padding-top: 2.3rem;
}

/* main header */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: red;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    top: 0;
    width: 100%;
    font-size: 1.7rem;
    z-index: 999;
}


.pokeLink {
    color: black;
    background-color: lightgray;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    padding: .17em .3em .10em .3em;
    font-size: .9em;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

header div {
    display:inline;
    position: relative;    
}

header p {
    display: inline-block;
    color: black;
    background-color: lightgray;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
    padding: .2em;
    padding-inline: .3em;
    font-size: .8em;
    font-family: Arial, sans-serif;
}

.navSortBut {
    border-style: none;
    background-color: lightgray;
    border-inline-style: solid;
    border-inline-width: 2px;
    padding: .4em .7em .3em .7em;
    margin-right: -.1em;
    font-size: .7em;
    cursor: pointer;
}

header a.active button {
    background-color: rgb(187, 188, 209);
}

/* main card body */
main {
    display: grid;
    height: 97vh;
}

.reg-gen-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

/* left nav on reg and gen */
div nav {
    background-color: rgb(252, 244, 241);
    position: sticky;
    top: 2.3rem;
    max-height: 97vh;
}

.nav-list {
    display: grid;
    gap: 1.7rem;
    padding-block: 1rem;
    font-size: 1.7em;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    list-style: none;
}

.nav-list li {
    cursor: pointer;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-left: 0.3rem;
    border-radius: 1.5vw 0 0 1.5vw
}

ul .nav-title {
    cursor: auto;
    text-decoration: underline;
    padding: 0rem 0.7rem 0rem 0.4rem;
    margin-left: 0.2rem;
}

.activeNav {
    background-color: gray;
    color: white;
}

/* card layout */
.card-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(135px, 540px) 1fr;
    grid-template-rows: auto auto;
    padding-bottom: 20px;
    margin-block: auto;
}

#cards-with-nav {
    padding-right: 1rem;
}

.cards {
    grid-area: 1/2/1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-template-rows: repeat(auto-fit, 121px);
    grid-gap: .7em .8em;
    justify-content: center;
}

/* page nav for cards */
.pageNav {
    grid-area: 2/2/2/2;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#backBut, #nextBut {
    font-size: 1.5em;
    cursor: pointer;
}

.pageNav p {
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-align: center;
}

#currentPageNum {
    border: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

/* pokeEntry header */
.retBut {
    background-color: lightgray;
    border-block: 0px;
    border-left: 0px;
    padding: .17em .3em .10em .3em;
    font-size: .9em;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

/* poke entry body */
.entry-wrapper {
    display: grid;
    grid-template-columns: minmax(250px, 500px);
    grid-template-rows: repeat(auto-fit, auto);
    gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    padding: 3rem 0rem 2rem 0rem;
    margin-inline: 1rem;
    margin-bottom: auto;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.description {
    text-transform: none;
    margin-bottom: 2em;
}

.form-var-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 0.5em 2em;
}

.varients, .forms {
    display: grid;
    gap: 2em;
    justify-items: center;
}

.forms {
    grid-area: 2/1/2/1;
}

.varients {
    grid-area: 2/2/2/2;
}

/*footer*/
footer {
    position: fixed;
    background-color: red;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    bottom: 0px;
    width: 100%;
    z-index: 999;
}

footer p {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 202);
}